services:
  redis-master:
    image: redis:7
    container_name: redis-master
    command: ["redis-server", "/etc/redis/redis-master.conf"]
    volumes:
      - ./docker/redis/redis-master.conf:/etc/redis/redis-master.conf:ro
      - redis-master-data:/data
    ports:
      - "6379:6379"
    networks:
      - redis-net

  redis-replica:
    image: redis:7
    container_name: redis-replica
    command: ["redis-server", "/etc/redis/redis-replica.conf"]
    volumes:
      - ./docker/redis/redis-replica.conf:/etc/redis/redis-replica.conf:ro
      - redis-replica-data:/data
    depends_on:
      - redis-master
    networks:
      - redis-net

networks:
  redis-net:

volumes:
  redis-master-data:
  redis-replica-data:
